body{
    background: #f2f2f2;
    color: #3c3c3c;
}
h1{
    color: #111111;
}
div.packages-div {
    display: flex;
    flex-direction: column;
}
div.packages-div div.packageHead{
    display: flex;
    flex-direction: row;
    background: white;
    padding: 10px;
    align-items: center;
    box-shadow: 0px 10px 3px -2px #ccc
}
div.packages-div div.packageHead h1{
    font-size: 2rem;
}
div.packages-div div.packageHead span.search{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}
div.packages-div div.packageHead span.search label{
    margin: 3px;
    font-size: 0.9rem;
}
div.packages-div div.packageHead span.search input{
    margin: 3px;
    border: 1px solid #868686;
    border-radius: 3px;
    padding: 3px;
    font-size: 0.9rem;
}
div.packages-div div.packageHead span.dataRange{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.packages-div div.packageHead #range:hover{
    cursor: grab;
}
div.packages-div div.packageHead #range:active{
    cursor: grabbing;
}
div.packages-div div.packages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
}
div.packages-div div.packages div.package {
	box-shadow: 10px 10px 3px -2px #8e8e8e;
	width: 80%;
	height: max-content;
	background-color: white;
	margin: 15px;
	transition: 0.5s;
}
div.packages-div div.packages div.package:hover {
	cursor: pointer;
	scale: 1.025;
	box-shadow: 15px 15px 3px -2px #8e8e8e;
}
div.packages-div div.packages div.package img{
    width: 100%;
    height: 250px;
}
div.packages-div div.packages div.package div.main_detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 5px;
}
div.packages-div div.packages div.package div.main_detail h1{
    text-align: center;
    font-size: 1.7rem;
}
div.packages-div div.packages div.package div.main_detail p.day-night{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    padding: 5px;
    color: white;
    overflow: hidden;
}
div.packages-div div.packages div.package div.main_detail p.day-night span {
	display: flex;
	align-items: center;
	padding: 3px;
	background-color: #268c87;
	border-radius: 7px;
}
div.packages-div div.packages div.package div.day-det{
    padding: 3px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    /* margin-top: 1px; */
}
div.packages-div div.packages div.package div.day-det p{
    margin: 5px 0;
}
div.packages-div div.packages div.package div.day-det span{
    color: white;
    font-size: 0.9rem;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
}
div.packages-div div.packages div.package div.day-det span{
    background-color: #b11c50;
}